body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #494848;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

#image {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    font-style: italic;
}

#tribute-info {
    margin-top: 20px;    
}
h2{
    text-align: center;
}
.tribute-profile {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    margin-bottom: 20px; /* Add margin for spacing */
}

.tribute {
    display: inline-block; /* Display tribute as an inline-block element */
    width: calc(70% - 20px); /* Set width to accommodate one tribute and account for margin */
    margin-right: 20px; /* Add margin for spacing between tributes */
    vertical-align: top; /* Align tributes to the top */
}

.tribute:last-child {
    margin-right: 0; /* Remove margin from the last tribute */
}

.tribute img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

.tribute p {
    white-space: normal; /* Allow wrapping within p tags */
}
#tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: blue;
}

#tribute-link:hover {
    text-decoration: underline;
}
