body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
}

#img-div {
    text-align: center;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    font-style: italic;
}

#tribute-info {
    margin-top: 20px;
}

#tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: blue;
}

#tribute-link:hover {
    text-decoration: underline;
}
